<!-- feedback-create.component.html -->
<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <!-- Add card and shadow classes to the form -->
      <div class="card shadow">
        <div class="card-body">
          <form (submit)="submitFeedback()">
            <div class="mb-3">
              <label for="title" class="form-label">Title</label>
              <input type="text" name="title" [(ngModel)]="feedbackData.title" class="form-control" id="title">
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Description</label>
              <textarea name="description" [(ngModel)]="feedbackData.description" class="form-control" id="description"></textarea>
            </div>
            <div class="mb-3">
              <label for="category" class="form-label">Category</label>
              <select name="category" [(ngModel)]="feedbackData.category" class="form-control" id="category">
                <option disabled>Category</option>
                <option value="improvement">General</option>
                <option value="bug report">Bug Report</option>
                <option value="feature request">Feature Request</option>
                <!-- Add more categories as needed -->
              </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit Feedback</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
